<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
    <div class="header-content">
      <img src="/assets/logo_menu.svg" alt="PARTILOT" class="logo-image">
    </div>
    <ion-buttons slot="end">
      <ion-button fill="clear">
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-menu-button menu="main-menu" slot="end"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="gestor-vendedores-content">
  <div class="gestor-vendedores-container">
    <div class="empty-state">
      <ion-icon name="people-outline" class="empty-icon"></ion-icon>
      <h2>Vendedores</h2>
      <p>Esta vista estará disponible próximamente</p>
    </div>
  </div>
</ion-content>

